.card {
  //   Functionality
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 31.25rem;

  &__side {
    height: 31.25rem;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  //   Front Side Styling
  &__picture {
    background-size: cover;
    height: 12rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url("../../img/nat-5.jpg");
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url("../../img/nat-6.jpg");
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url("../../img/nat-7.jpg");
    }
  }

  &__heading {
    color: $color-white;
    font-size: 1.75rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    top: 6rem;
    right: 2rem;
    width: 55%;
  }

  &__heading-span {
    box-decoration-break: clone;
    -webkit-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
      padding: 0.45rem 1rem;
      text-align: center;
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
      padding: 0.45rem 1rem;
      text-align: center;
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
      padding: 0.45rem 1rem;
      text-align: center;
    }
  }

  .card__details {
    padding: 1rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 0.95rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
  // Enf of Front Styling

  // Back Styling
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__price-box {
    text-align: center;
    margin-bottom: 5rem;
    color: $color-white;
  }
  &__price-only {
    font-size: 1rem;
    text-transform: uppercase;
  }
  &__price-value {
    font-size: 4rem;
    font-weight: 100;
  }
  // End of Back Styling

  // @include respond(tab-port)
  @media only screen and (max-width: 56.25em), 
         only screen and (hover: none) {
    height: auto;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      transition: all 0.5s ease;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    // Back Styling
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 4rem 2rem 2rem 2rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
      font-weight: 100;
    }
    // End of Back Styling
  }
}
